
VulkanProjectValicaAlvarado/cmake-build-debug/Testing/Temporary/LastTest.log
VulkanProjectValicaAlvarado/cmake-build-debug/CMakeFiles/VulkanProjectValicaAlvarado.dir/ObjectLoader.cpp.obj
VulkanProjectValicaAlvarado/cmake-build-debug/CMakeFiles/VulkanProjectValicaAlvarado.dir/main.cpp.obj
VulkanProjectValicaAlvarado/cmake-build-debug/.ninja_log
VulkanProjectValicaAlvarado/cmake-build-debug/.ninja_deps
